<body class="editorPage">
  {{> header}}

  <main>
    <div>
      <section id="info">
        {{> editor/user}}
      </section>

      <section>
        {{> editor/img}}
      </section>

      <section>
        {{> editor/stats}}
      </section>
    </div>

    <section>
      {{> editor/recommended}}
    </section>
    
  </main>
  
  <footer>
    {{> footer}}
  </footer>
  
  <script type="module" type="text/javascript" src="bundle.js"></script> 
</body>
