<body class="homePage">
  
  <header>
    {{> home/navBar}}

    {{> home/searchBar}}
  </header>

  <main>
    {{> home/imageResult}}
  </main>

  <footer>
    {{> footer}}
  </footer>

  <script type="module" type="text/javascript" src="bundle.js"></script> 
</body>

