<body class="homePage">
  
  <header>
    {{> components/home/navBar}}

    {{> components/home/searchBar}}
  </header>

  <main>
    {{>components/home/imageResult}}
  </main>

  <footer>
    {{> components/footer}}
  </footer>

  <script type="module" type="text/javascript" src="bundle.js"></script> 
</body>

