<header class="header">
  <div>
    <a href="/">
      <h1>PhotoPaint</h1>
    </a>

    <form action="/" method="POST">
      <input type="text" id="searchElement" name="searchQuery" placeholder="Search free photos">
      <input value="&#128269;" type="submit">
    </form>

    <nav>
      <ul>
        <li>
          <a href="/profile">
            Profile
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="40" height="40" rx="20" fill="#584FFF"/>
              <path d="M14 12.6842C14 15.8181 16.692 18.3684 20 18.3684C23.308 18.3684 26 15.8181 26 12.6842C26 9.55032 23.308 7 20 7C16.692 7 14 9.55032 14 12.6842ZM30.6667 31H32V29.7368C32 24.8623 27.812 20.8947 22.6667 20.8947H17.3333C12.1867 20.8947 8 24.8623 8 29.7368V31H30.6667Z" fill="#F5F5F5"/>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header> 